/* Custom CSS for UnderratedGames
===============================================================*/
 

 /* Remove 'readers' and change to 'Gamers' */
.titlebox span.word { 
    display: none 
} 
.titlebox span.number:after { 
    content: " Gamers" 
} 

.titlebox .age {
    float: left;
}


/* Flair
======================================*/

/* Removes the standard flair styling */
.flair-custom {
    background-color: transparent;
    background-repeat: no-repeat;
    border: 0;
    padding: 0;
    position: relative; 
}

.flair-mario {
    background-image: url(%%mario%%);
    height:17px;
    width: 15px;
    top: 1px;
}

.flair-majora {
    background-image: url(%%majora%%);
    height:17px;
    width: 18px;
    top: 1px;
}

.flair-lechuck {
    background-image: url(%%lechuck%%);
    height:19px;
    width: 15px;
    top: 3px;
}

.flair-quote {
    background-image: url(%%quote%%);
    height:19px;
    width: 15px;
    top: 3px;
}


